<settings>
  <servers>
    <server>
      <id>vprofile-snapshot</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vprofile-release</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vpro-maven-central</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>vpro-maven-group</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>

  <mirrors>
    <mirror>
      <id>central</id>
      <name>nexus</name>
      <url>http://172.31.54.108:8081/repository/vpro-maven-group/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>

